<!-- <li  class="list-group-item">
            <% places.results.forEach( function (element) { %> 
              <br>
              <h2 class="place_name"><%= element.name %></h2>
              <br>
              <%= element.address %>
              <br>  
              <!-<a><%= element.website %></a> -->
              <!-- <%= element.location.lat %>
              <%= element.location.lng %> -->
              <br>
              <!-- <% }); %> -->